.location {
    background: $bg-color-light;
    text-align: center;
    padding: 8rem 0;
    font-size: 1.6rem;

   &__times {
        line-height: 4rem;
   }
   &__address {
        margin-top: 8rem;
        line-height: 4rem;
   }
}

.heading {
    &__medium {
        text-transform: uppercase;
        letter-spacing: .7rem;
        font-size: 3.5rem;
        margin-bottom: 3rem;
        text-shadow: 1px 1px 5px rgba(0,0,0,.5);

        &--red {
            color: $primary-color;
        }  
    }
    &__small {
        &--green {
            color: $text-color-light;
            text-shadow: 1px 1px 1px $primary-color, -1px -1px 1px $secondary-color;
            font-size: 3rem;
        }
    }
}

.inline {
    display: inline-block;
    margin: 0 .5rem;
}