.to-top {
  &__arrow {
    position: fixed;
    bottom: 12rem;
    right: 2rem;
    display: none;
    color: $text-color-light;
    border: 0.5rem solid $secondary-color;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    @include transitionEase;

    &::before {
      content: "▲";
      display: block;
      width: 5rem;
      height: 5rem;
      font-size: 3rem;
      line-height: 3.6rem;
      margin-left: 0.6rem;
      color: $secondary-color;
    }

    &:hover {
      transform: rotate(360deg);
      border-color: $primary-color;
    }
    &:hover::before {
      color: $primary-color;
    }
  }
}
