$primary-color: #e92219;
$secondary-color: #4d8a24;

$text-color-light: #fff;
$text-color-dark: #000;

$bg-color-light: #eee;

$primary-font: 'Italianno', cursive;
$secondary-font: 'Raleway', sans-serif;

$text-shadow-sharp: 1px 1px 1px #000000;